<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_post_path(@post), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= Post.human_attribute_name(:title) %></td>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Post.human_attribute_name(:html) %></td>
      <td><%= @post.html %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Post.human_attribute_name(:content) %></td>
      <td><%= @post.content %></td>
    </tr>
  </tbody>
</table>
