<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Post.human_attribute_name(:title) %></th>
      <th><%= Post.human_attribute_name(:html) %></th>
      <th>
        <%= link_to sync_admin_quip_app_posts_path(@quip_app), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td>
        <% post.post_syncs.each do |sync| %>
          <p><%= sync.synced_type_i18n %></p>
        <% end %>
      </td>
      <td>
        <%= link_to admin_quip_app_post_path(@quip_app, post), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light', target: '_blank' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to admin_quip_app_post_path(@quip_app, post), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_quip_app_post_path(@quip_app, post), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_quip_app_post_path(@quip_app, post), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @posts %>
