<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= QuipApp.human_attribute_name(:name) %></th>
      <th><%= QuipApp.human_attribute_name(:access_token) %></th>
      <th><%= QuipApp.human_attribute_name(:private_folder_id) %></th>
      <th>
        <%= link_to new_admin_quip_app_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @quip_apps.each do |quip_app| %>
    <tr>
      <td>
        <%= image_tag quip_app.profile_picture_url, class: 'ui avatar image' if quip_app.profile_picture_url.present? %>
        <%= quip_app.name %>
      </td>
      <td><%= quip_app.access_token %></td>
      <td><%= quip_app.private_folder_id %></td>
      <td>
        <%= link_to admin_quip_app_path(quip_app), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to admin_quip_app_posts_path(quip_app), aria: { label: t('quip.admin.posts.index.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-blog"></i>
        <% end %>
        <%= link_to edit_admin_quip_app_path(quip_app), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_quip_app_path(quip_app), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @quip_apps %>
