<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_quip_thread_path(@quip_thread), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= QuipThread.human_attribute_name(:type) %></td>
      <td><%= @quip_thread.type %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= QuipThread.human_attribute_name(:title) %></td>
      <td><%= @quip_thread.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= QuipThread.human_attribute_name(:html) %></td>
      <td><%= @quip_thread.html %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= QuipThread.human_attribute_name(:content) %></td>
      <td><%= @quip_thread.content %></td>
    </tr>
  </tbody>
</table>
