<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= QuipThread.human_attribute_name(:type) %></th>
      <th><%= QuipThread.human_attribute_name(:title) %></th>
      <th class="six wide"><%= QuipThread.human_attribute_name(:html) %></th>
      <th class="six wide"><%= QuipThread.human_attribute_name(:content) %></th>
      <th>
        <%= link_to sync_admin_quip_app_quip_threads_path(@quip_app), method: :post, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.sync') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @quip_threads.each do |quip_thread| %>
    <tr>
      <td><%= quip_thread.type %></td>
      <td><%= quip_thread.title %></td>
      <td><%= quip_thread.html %></td>
      <td><%= quip_thread.content %></td>
      <td>
        <%= link_to admin_quip_thread_path(quip_thread), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_quip_thread_path(quip_thread), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_quip_thread_path(quip_thread), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @quip_threads %>
